<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dispositivo Botão</title>
  <style>
  </style>
  <link rel="stylesheet" href="../static/css/botao.css">
</head>
<body>
  <div class="container">
    <h1>Dispositivo Botão</h1>
    <ul>
      {% for linha in dados %}
        <li>{{ linha }}</li>
      {% endfor %}
    </ul>
    <a href="/">← Voltar para a página inicial</a>
  </div>
</body>
</html>
